body {
  background-color: white;
  margin: 0;
  font-family: Arial, sans-serif;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: white;
}

.mobile-area {
  background-color: #f0f0f0;
  width: 100%;
  max-width: 718px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  box-sizing: border-box;
}

.header {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.form-container {
  background-color: white;
  width: 90%;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.input-box {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  margin-top: 10px;
}

.btn-dark {
  background-color: #000;
  border: none;
}

.custom-button {
  width: 262px;
  height: 75px;
  border-radius: 30px;
  margin: 0 auto;
}

.button-container {
  background-color: white;
  width: 100%;
  max-width: 718px;
  height: calc(75px + 40px); /* Height to accommodate button height + padding */
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  padding: 20px 0;
  box-sizing: border-box;
}
